<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
</head>

        <h1>It's  <%= kindOfDay %></h1>
       <!-- now working on the actual project -->

       <ul>
        <li>Buy Food</li>
        <li>Cook Food</li>
        <li>Eat Food</li>
        <li> <%= newListItem %>  </li>
       </ul>

       <form action="/" method="post">
        <input type="text" name="itemName" required> <br>
        <input type="submit" name="submit">
       </form>
</body>
</html>