<%- include("partials/header.ejs") %>

    <h1>Home</h1>

    <div class="container">


        <% homePara.forEach((item)=> { %>
            <h1>
                <%= item.title %>
            </h1>
            <p>
                <%= item.data %>
            </p>
            <% }); %>

    </div>

    <%- include("partials/footer.ejs") %>