<%- include("partials/header.ejs") %>

    <h1>Home</h1>

    <div class="container">

    
        <% for (const item in homePara) { %>
           <% if (Object.hasOwnProperty.call(homePara, item)) { %>
               <% const currItem = homePara[item]; %>
            <h2>

                <%= currItem.title %>
            </h2>

            <p>
                <%= currItem.data  %>
            </p>
                <% } %>
       <% } %>
    </div>

    <%- include("partials/footer.ejs") %>