<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Existing Page</title>
</head>
<body>
    <h2>given email : <%= email %> already exists</h2>
</body>
</html>