<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user page</title>
</head>
<body>
    <h2>New user created with following credentials : </h2>
    <h2>Name : <%= name %></h2> 
    <h2>Email : <%= email %></h2>

    <h3><a href="/">Login</a></h3>
</body>
</html>